<div> Welcome to Angular </div>

<ng-container *ngIf="(bgColor$ | async) as bgColor; else bgColorDefault">
    "bgColor::"{{bgColor}}
</ng-container>
<ng-template #bgColorDefault>
    "bgColorDefault:: false"
</ng-template>

<ng-container *ngIf="(fontColor$ | async) as fontColor; else fontColorDefault">
    "fontColorDefault::"{{fontColor}}
</ng-container>
<ng-template #fontColorDefault>
    "bgColorDefault:: false"
</ng-template>

<ng-container *ngIf="(name$ | async) as name; else nameDefault">
    "name::"{{name | json}}
</ng-container>
<ng-template #nameDefault>
    "nameDefault:: localObject"
</ng-template>

<!-- <router-outlet /> -->
